header{
	position: sticky;
	top: 0;
	display: inline-block;
	height: 10vw;
	width: 100vw;
	background-color: #5b5;
}
[head]{
	font-size: 2vw;
	display: inline-block;
}
.button{
	position: relative;
	left: 0;
	top: 0;
	height: 4.2vw;
	margin: 2.9vw 0.8vw;
	padding: 0.75vw;
	border-radius: 50px;
	border: 0.4vw solid #060;
	background-color: #090;
}
#presentador{
	display: inline-block;
	font-size: 10vw;
	height: 50vh;
	width: 100vw;
	margin: 25vh 0;
}
[frs_a]{
	text-decoration: none;
}
[a_header]{
	position: relative;
	bottom: 0.2vw;
	text-decoration: none;
	color: #fff;
}
#logo{
	position: relative;
	margin: 0 5vw;
	width: 10vw;
}
#ulheader{
	height: 10vw;
	width: 80vw;
	position: absolute;
}