#LOGO{
	margin: 0.6vw 0px 0px 1.35vw;
	height: 11vw;
	width: 12vw;
}
#header{
	position: fixed;
}
.article_1{
	margin-top: 360px;
}
.inline{
	display: inline-block;
}
[position_abs="0"]{
	position: absolute;
}
[align-c="0"]{
	text-align:center;
}
nav{
	margin-left: -0.7vw;
	border: 0.2vw solid #aaa;
	width: 101vw;
	height: 13vw;
	background-color: #9ce;
	border-radius: 40px;
}
[buton="s"]{
	width: 15vw;
	padding: .9em;
	background-color: #efd;
	border: 0.4vw solid #aaa;
	margin: 3.5vw 5px 5px 5px;
	border-radius: 50px;
}